


.title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.brand {
    font-size: .8rem;
    font-weight: 300;
}

.price {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.purchased,
.purchased > p  {
    color: rgba(0,0,0,0.5);
}