.registry {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: 30px auto;
    grid-template-areas:
        "filters gift-display-options"
        "filters gifts-grid";
    gap: 1rem;
}