.registry {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0;
}

@media (min-width: 768px) {
    .registry {
        flex-direction: row;
        align-items: flex-start;
    }
}