.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app > * {
  padding: 0 2rem;
}

.app-header {
  background-color: darkgray;
  height: 3rem;
}

.app-main {
  flex: 1;
}

.app-footer {
  background-color: gray;
  text-align: center;
  height: 40px;
}